<div class="glavniDiv">
  <h3>Ovo je app component</h3>
  <button style="float: left;margin-right: 10px" (click)="isVisibleSedmica4=!isVisibleSedmica4">Sedmica 4 {{isVisibleSedmica4?'da':'ne'}}</button>
  <button style="margin-right: 10px"  (click)="isVisibleSedmica5=!isVisibleSedmica5">Sedmica 5 {{isVisibleSedmica5?'da':'ne'}}</button>
  <button style="margin-right: 10px"  (click)="isVisibleProizvodi=!isVisibleProizvodi">Proizvodi {{isVisibleProizvodi?'da':'ne'}}</button>
  <button style="margin-right: 10px"  (click)="isVisibleBrendovi=!isVisibleBrendovi">Brendovi {{isVisibleBrendovi?'da':'ne'}}</button>
  <br>

  <div *ngIf="isVisibleSedmica4" style="border: 1px solid red;margin-top: 10px">
    <app-sedmica4></app-sedmica4>
  </div>

  <div *ngIf="isVisibleSedmica5" style="border: 1px solid blue;margin-top: 10px">
    <app-sedmica5></app-sedmica5>
  </div>

  <div *ngIf="isVisibleBrendovi" style="border: 1px solid purple;margin-top: 10px">
    <app-brendovi></app-brendovi>
  </div>

  <div *ngIf="isVisibleProizvodi" style="border: 1px solid green;margin-top: 10px">
    <app-proizvodi></app-proizvodi>
  </div>


</div>
